---
import Card from '../components/Card.astro';

interface Props {
	name: string;
    img: string;
}

const { name, img } = Astro.props;
---

<div class="flex justify-center items-center mt-5">
	<img class="rounded-full w-36" src={img} alt={name} />
</div>
<h1 class="text-white text-5xl text-center mt-2">{name}</h1>
<!-- Medias -->
<section class="flex justify-center gap-4">
	<!-- Web -->
	<Card href="#">
		<svg
			slot="icon"
			width="35"
			height="35"
			viewBox="0 0 24 24"
			stroke-width="2"
			stroke="currentColor"
			fill="none"
			stroke-linecap="round"
			stroke-linejoin="round"
		>
			<path stroke="none" d="M0 0h24v24H0z" fill="none" />
			<path
				stroke="#FFF"
				d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"
				fill="none"
			/>
			<path d="M3.6 9h16.8" stroke="#FFF" />
			<path d="M3.6 15h16.8" stroke="#FFF" />
			<path d="M11.5 3a17 17 0 0 0 0 18" stroke="#FFF" />
			<path d="M12.5 3a17 17 0 0 1 0 18" stroke="#FFF" />
		</svg>
	</Card>
	<!-- Instagram -->
	<Card href="#">
		<svg slot="icon" width="35px" height="35px" viewBox="0 0 24 24">
			<path
				fill="#FFF"
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M8.625 2.15625C5.05241 2.15625 2.15625 5.05241 2.15625 8.625V15.375C2.15625 18.9476 5.05241 21.8438 8.625 21.8438H15.375C18.9476 21.8438 21.8438 18.9476 21.8438 15.375V8.625C21.8438 5.05241 18.9476 2.15625 15.375 2.15625H8.625ZM3.84375 8.625C3.84375 5.98439 5.98439 3.84375 8.625 3.84375H15.375C18.0156 3.84375 20.1562 5.98439 20.1562 8.625V15.375C20.1562 18.0156 18.0156 20.1562 15.375 20.1562H8.625C5.98439 20.1562 3.84375 18.0156 3.84375 15.375V8.625ZM18.0859 7.13477C18.0859 7.68705 17.6382 8.13477 17.0859 8.13477C16.5337 8.13477 16.0859 7.68705 16.0859 7.13477C16.0859 6.58248 16.5337 6.13477 17.0859 6.13477C17.6382 6.13477 18.0859 6.58248 18.0859 7.13477ZM8.67021 8.67217C9.55455 7.78783 10.754 7.29102 12.0046 7.29102C13.2552 7.29102 14.4547 7.78783 15.339 8.67217C16.2233 9.5565 16.7202 10.7559 16.7202 12.0066C16.7202 13.2572 16.2233 14.4566 15.339 15.341C14.4547 16.2253 13.2552 16.7221 12.0046 16.7221C10.754 16.7221 9.55455 16.2253 8.67021 15.341C7.78588 14.4566 7.28906 13.2572 7.28906 12.0066C7.28906 10.7559 7.78588 9.5565 8.67021 8.67217ZM12.0046 8.80347C11.584 8.80347 11.1675 8.88632 10.7788 9.04729C10.3902 9.20826 10.0371 9.4442 9.73968 9.74163C9.44225 10.0391 9.20631 10.3922 9.04534 10.7808C8.88437 11.1694 8.80152 11.5859 8.80152 12.0066C8.80152 12.4272 8.88437 12.8437 9.04534 13.2323C9.20631 13.6209 9.44225 13.9741 9.73968 14.2715C10.0371 14.5689 10.3902 14.8049 10.7788 14.9658C11.1675 15.1268 11.584 15.2097 12.0046 15.2097C12.8541 15.2097 13.6688 14.8722 14.2695 14.2715C14.8702 13.6708 15.2077 12.8561 15.2077 12.0066C15.2077 11.157 14.8702 10.3423 14.2695 9.74163C13.6688 9.14094 12.8541 8.80347 12.0046 8.80347Z"
			></path>
		</svg>
	</Card>
	<!-- X -->
	<Card href="#">
		<svg slot="icon" width="35px" height="35px" viewBox="0 0 24 24">
			<path
				fill="#FFF"
				d="M17.1306 4H19.8448L13.915 10.7774L20.891 20H15.4288L11.1507 14.4066L6.25548 20H3.53958L9.88214 12.7508L3.19004 4H8.79086L12.6579 9.11262L17.1306 4ZM16.1779 18.3754H17.6819L7.97363 5.53928H6.35968L16.1779 18.3754Z"
				fill="var(--social-icon-color)"
			></path></svg
		><svg class="" width="24px" height="24px" viewBox="0 0 24 24">
			<path
				d="M17.1306 4H19.8448L13.915 10.7774L20.891 20H15.4288L11.1507 14.4066L6.25548 20H3.53958L9.88214 12.7508L3.19004 4H8.79086L12.6579 9.11262L17.1306 4ZM16.1779 18.3754H17.6819L7.97363 5.53928H6.35968L16.1779 18.3754Z"
				fill="var(--social-icon-color)"
			></path>
		</svg>
	</Card>
	<!-- Tiktok -->
	<Card href="#">
		<svg slot="icon" width="35px" height="35px" viewBox="0 0 24 24">
			<path
				fill="#FFF"
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M16.6066 10.3412V15.1952C16.6066 18.4195 14.6454 22 9.80057 22C6.06483 21.9839 3 18.9706 3 15.3145C3 15.2579 3.00078 15.2013 3.00234 15.1402C3.11169 11.6117 6.10778 8.76808 9.71466 8.76808C10.0482 8.76808 10.3817 8.79254 10.7121 8.8407C11.1252 8.90185 11.4314 9.24966 11.4314 9.65861V12.8095C11.4314 13.0663 11.3096 13.3079 11.1018 13.4646C10.894 13.6213 10.6246 13.6741 10.3707 13.6091C10.2083 13.567 10.0404 13.5456 9.87165 13.5456C8.82739 13.5456 7.95808 14.3628 7.91591 15.384L7.91122 15.5094C7.91122 16.4152 8.67274 17.1613 9.59828 17.1613L9.9724 17.1621C10.8933 17.1621 11.6509 16.4206 11.6509 15.5186L11.6423 15.3145V2.82709C11.6423 2.37074 12.0211 2 12.4874 2H15.6717C16.0864 2 16.4403 2.29506 16.5059 2.69561C16.7347 4.08989 17.169 4.96514 17.8204 5.51246C18.4772 6.06436 19.327 6.27687 20.2885 6.42746C20.6985 6.49167 21 6.83794 21 7.24385V10.4047C21 10.6355 20.9008 10.8564 20.7274 11.0124C20.554 11.1691 20.3213 11.2478 20.0862 11.2287C18.8787 11.1316 17.7016 10.8305 16.6066 10.3412ZM14.9758 3.65418H13.3325V15.2854C13.3379 15.3626 13.3411 15.4406 13.3411 15.5186C13.3411 17.3272 11.8204 18.8155 9.9724 18.8155C9.90758 18.8155 9.84275 18.8139 9.77792 18.8094C9.71856 18.8132 9.65842 18.8147 9.59828 18.8147C7.74564 18.8147 6.22182 17.3226 6.22182 15.5094C6.22182 15.4391 6.22416 15.368 6.22728 15.3168C6.30461 13.4577 7.85499 11.9602 9.74121 11.8945V10.4223L9.71466 10.4215C7.01536 10.4215 4.77298 12.5504 4.69097 15.1868C4.69018 15.2289 4.6894 15.2717 4.6894 15.3145C4.6894 18.0664 6.99662 20.3344 9.80448 20.3458C13.4567 20.3458 14.9164 17.6276 14.9164 15.1952V8.9523C14.9164 8.65036 15.0851 8.37211 15.3562 8.22688C15.6272 8.08164 15.9568 8.0931 16.2169 8.25592C17.1627 8.84834 18.2132 9.25654 19.3098 9.45987V7.92876C18.3132 7.71319 17.4384 7.3715 16.7199 6.76762C15.9435 6.11481 15.3273 5.15242 14.9758 3.65418Z"
				fill="var(--social-icon-color)"
			></path>
		</svg>
	</Card>
</section>
